@media screen and (max-width: 768px) {
  body {
    background: rgba(20, 20, 20, 1);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Verdana;
  }
  header {
    position: fixed;
    top: 0;
    padding: 12px;
    background: rgba(30, 30, 30, 1);
    width: 355px;
  }
  .box {
    width: 355px;
  }
  .boxs {
    padding: 12px;
    background: rgba(30, 30, 30, 1);
    border-radius: 6px;
    box-shadow: 1px 2px 13px #0005;
  }
  .good {
    margin-top: 50px;
  }
  .boxs h1 {
    font-size: 16px;
    font-weight: 600;
  }
  .boxs h3 {
      font-size: 12px;
      font-size: 500;
      color: white;
      text-decoration: none;
  }
  .boxs h3, a {
    text-decoration: none;
    margin-top: 17px;
  }
}